body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar
{
    background-color: #009FBD;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
}

.navdiv
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    width: 50%;
}

.navdiv li
{
    list-style: none;
    display: inline-block;
}

.navdiv a
{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;

}

.centerImage
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.parkBanner
{
    border: 2px solid black;
    border-radius: 10px;
}

#EmpRegForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color:#0F67B1;
}

#VehicleRegForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color:#0F67B1;
}

#FeedbackForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color:#0F67B1;
}

#Pricing
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.PricingPlans
{
    border: 1px solid #0f7681;
    border-radius: 1rem;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.PurchaseButton
{
    background-color: white;
    font-size: 1.5rem;
    color:#0F67B1;
    border-radius: 0.6rem;
    border-color: #0F67B1;
}


.PricePerMonth
{
    border: 2px solid black;
    border-radius: 10rem;
}

footer
{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}